// 设置页头样式
.header { 
	background-image: url("/images/header.jpg");
	background-size: cover;
	width:100%;
	height:280px;
}

.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
